// Variables
$primaryColor: #61d961;
$darkColor: #1a1b19;
$font-stack: "Open Sans", sans-serif;

// Mixins
@mixin reset-list {
  list-style: none;
}

@mixin album-art ($size, $radius: 8px){
  width: $size;
  height: $size;
  border-radius: $radius;
}
@mixin icon-size ($size){
  width: $size;
  height: $size;
}

@mixin track-subtitle{
  font-size: 0.8rem;
        opacity: 0.3;
        margin-top: 3px;
}

@mixin horizontal-list {
  @include reset-list;
  li {
    display: inline-block;
    margin: {
      left: 6px;
      bottom: 2em;
    }
  }
}

@mixin rounded-container {
  border-radius: 35px;
  width: max-content;
  height: 60px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1em;
}

input[type='range'] {
  overflow: hidden;
  height: 5px;
  // width: 80px;
  border-radius:2.5px;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.212);
}

input[type='range']::-webkit-slider-thumb {
  width: 5px;
  -webkit-appearance: none;
  height: 100%;
  border-radius:5px;
  cursor: pointer;
  background:#fff;
  box-shadow: -28.1vw 0 0 28vw #ffffff;
}


input[type='range']::-webkit-slider-runnable-track {
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.212);;
  -webkit-appearance: none;
  color: $primaryColor;
  margin-top: 0;
}

// spacing

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.col {
  margin-left: 1em;
}

// styles

:root {
  font-size: 16px;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: $font-stack;
}

.container {
  padding: 1em 0;
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

// column setup

.col-1 {
  width: 100% / 26px * 1px;
}
.col-2 {
  width: 100% / 26px * 2px;
}
.col-5 {
  width: 100% / 26px * 5px;
}
.col-3 {
  width: 100% / 26px * 3px;
}
.col-20 {
  width: 100% / 26px * 20px;
}

.col-10 {
  width: 100% / 26px * 10px;
}

.columns {
  display: flex;
  gap: 1.5em;
}

.columns {
  max-width: 100%;
}

.col-split {
  display: flex;
  gap: 0.5em;
}

// Header styles
.header__search {
  @include rounded-container;
  background-color: rgba(95, 95, 95, 0.314);

  width: 100%;
  .circleIcon {
    width: 2rem;
  }
  #searchbox {
    width: 100%;
    font-size: 1rem;
    display: block;
    height: 80%;
    margin-left: 0.5em;
    background-color: transparent;
    padding: 0.8em 0;
    outline: none;
    border: none;
  }
  .header__tags {
    font-size: 14px;
    display: flex;
    .header__tag {
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: rgba(95, 95, 95, 0.314);
      padding: 0.4em 0.7em;
      color: #fff;
      border-radius: 10px;
      margin-left: 0.5em;
      cursor: pointer;
    }
  }

  .vertical-divider {
    width: 1px;
    height: 100%;
    opacity: 0.2;
    background-color: #fff;
    margin: 0 1em;
  }

  .header__filter {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    .filter-icon {
      margin-right: 0.8em;
      width: 25px;
    }
    & p {
      font-size: 0.9rem;
      color: #fff;
      font-weight: bold;
      letter-spacing: 0.02em;
    }
  }
}

.header__actions {
  @include reset-list;
  @include rounded-container;
  justify-content: space-around;
  position: relative;
  width: 100%;
  li {
    margin: 0 0.25em;
  }
  .notification-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 10px;
    right: 15px;
    background-color: $primaryColor;
    position: absolute;
    z-index: 10;
    flex: .7;
  }
}

.header__user {
  @include rounded-container;
  flex: .3;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-right: 0;
  justify-content: space-between;
  svg {
    width: 12px;
    margin: 0 0.8em 0 0.4em;
  }
}

.avatar {
  border-radius: 50%;
  width: 60px;
}

// Navbar Styles ================================
nav {
  .nav__links {
    @include horizontal-list;
    width: 100%;
  }
}
// background Colours =================
.bg-purple {
  background-color: #7770ff;
}
.bg-blue {
  background-color: #234eff;
}

.bg-orange {
  background-color: #fd9c02;
}

.bg-darkorange {
  background-color: #fd6835;
}

.bg-gray {
  background-color: #212121;
}

main {
  width: 100%;
}

h1 {
  font-size: 1.15rem;
  margin-bottom: 1em;
  font-weight: 500;
}

// Suggested Playlists styles =================
.playlists {
  display: flex;
  width: 100%;
  gap: 0.25em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &__playlist {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 23rem;
    width: calc(100% - 0.5rem);
    border-radius: 2.5em;
  }
  .playlist__img {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 43%;
    left: 60%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // background: linear-gradient(to bottom, transparent, #fd9c02);
  }
  .playlist__img-fader-orange {
    height: 120%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 50%,
      #fd9c02 75%
    );
  }
  .playlist__img-fader-purple {
    height: 120%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 50%,
      #7770ff 75%
    );
  }
  .playlist__img-fader-darkOrange {
    height: 120%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 50%,
      #fd6835 75%
    );
  }
  .playlist__img-fader-blue {
    height: 120%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 50%,
      #234eff 75%
    );
  }
  .playlist__trackCount {
    position: absolute;
    z-index: 15;
    left: 1.8rem;
    top: 1.95rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: .3px;
    font-size: 0.8rem;
  }

  .playlist__details {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.5em;
    bottom: 1.85em;
    color: #fff;
    h3 {
      font-size: 1rem;
      text-overflow: ellipsis;
    }
    h4 {
      width: 130px;
      overflow: hidden;
      font-size: 0.75rem;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    svg {
      height: 40px;
      width: 40px;
    }
    .playIcon {
      fill: $primaryColor;
    }

    .col {
      display: block;
      margin: auto 0.5em;
    }
  }
}

// Individual Playlist Images

#playlist-img-4{
  margin-top: 2em;
}
#playlist-img-3{
  margin-top: 1.2em;
}

// Friends Activity
.friendsActivity {
  height: fit-content;
  border-radius: 1.5em;
  padding: 1.5em;
  color: #fff;
  .friendsActivity__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
    h1 {
      margin: unset;
    }
    svg g {
      fill: #fff;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.5s ease-in-out;
    }
    svg g:hover {
      opacity: 1;
    }
  }
}

.friend {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  .col {
    margin-left: 0.5em;
    font-size: 14px;
  }

  .circular {
    border: 1px solid $primaryColor;
    display: grid;
    place-items: center;
    padding: 3px;
    border-radius: 50%;
    &.no-border {
      border: none;
    }
  }
  p {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    margin-top: 5px;
    opacity: 0.3;
  }
  .friend__avatar {
    position: relative;
  }
  .red-dot {
    top: 0;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #212121;
    background-color: red;
    position: absolute;
  }
}

.btn-filled {
  display: block;
  width: 100%;
  padding: 1.5em 0;
  background-color: rgba(134, 134, 134, 0.4);
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1em;
}

.main-content-wrapper {
  display: grid;
  gap: 0.8em;
  grid-template-columns: 1fr 2fr 1fr;
}

.genres {
  width: 100%;
}

.genrelist {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 1.5em;
  .genre {
    cursor: pointer;
    border-radius: 12px;
    font-size: 0.75em;
    padding: 0.6em 0.8em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    // margin-right: ;
  }
  .genre:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}


.currentPlaylist {
  &__tracklist {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 2rem;
    .track,
    .track__details,
    .track__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .track__details{
      justify-content: unset;
      width: 100%;
    }
    .track {
      margin-bottom: 1.8em;
      &__details {
        .album-art {
          @include album-art(60px);
        }
      }

      &__name {
        @include track-subtitle;
      }

      &__listens{
        margin-right: 1.5em;
        display: flex;
        flex: 1;
        justify-content: right;
        font-size: .8rem;
        font-weight: normal;
        span{
          margin-right: 0.5em;
        }
      }

      &__actions {
        @include rounded-container;
        padding-right: 0;
        max-width: 150px;
      }
      &__playIcon,
      &__pauseIcon {
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
      }
      &__pauseIcon {
        border: 2px solid $primaryColor;
        padding: 3px;
        &__circle {
          fill: $primaryColor;
        }
        &__bars {
          fill: #fff;
        }
      }
      .play__triangle {
        fill: #fff;
      }
      .pauseIcon__circle {
        fill: $primaryColor;
      }
      &__heartIcon {
        margin-right: 0.5em;
        width: 20px;
        height: 20px;
        opacity: 0.3;
        transition: all 0.5s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.recent-artists{
  width: 100%;
  &__album-list {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  }

  &__album-art {
    cursor: pointer;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 8rem;
  }
}
// Music Player Bar

.music-player{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top-right-radius: .8rem;
  border-top-left-radius: .8rem;
  height:100px;
  background-color: #212121;

  &__wrapper{
    display: flex;
    align-items: center;
  }

  &__song{
    display: flex;
    align-items: center;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__album-art{
    @include album-art (70px)
  }
  &__track-name{
    @include track-subtitle;
  }



  &__controls{
    display: flex;
    align-items: center;
  }

  .prevIcon,
  .nextIcon{
    width:20px;
  }

  .play-pause-wrapper{
    width: 60px;
    margin: 0 1.2em;
    display: grid;
    place-items: center;
    position: relative;
  }
  .playIcon,
  .pauseIcon{
    width: 100%;
    position:absolute;
    .play__circle{
      fill: $primaryColor;
    }
  }

  .pauseIcon__circle{
    fill: gray;
    opacity: .5;
  }

  .playIcon{
    display: none;
  }

  &__progress{
    display: flex;
    align-items: center;
    font-size: .8em;
    margin: 0 2rem;
    #song-progress{
      margin: 0 .8em;
      width: 28vw;
    }

  }

  &__volume{
    margin-left: 1em;
    display: flex;
    align-items: center;
    .icon{
      @include icon-size(20px);
      opacity: 1;
    }
    .volume-progress{
      margin-left: 1.5em;
      margin-top: -2px;
      width: 100px;
    }
  }

  &__actions{
    flex: 1;
    @include reset-list();
    align-self: center;
    justify-content: right;
    display: flex;
    align-items: center;
    margin: 0;
    #heart:hover{
      fill: #ff3f3f;
    }
    .icon{
      opacity: 1;
    }
    li{
      margin: 0 .8em;
    }
  }

}


// Global Icon Style ============================
.icon {
  fill: #fff;
  opacity: 0.7;
  width: 23px;
  position: relative;
  cursor: pointer;
  :hover,
  :focus {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }
}

// Queries
@media screen and (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
  .container {
    padding: 1em 0;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
  }
}
